<div class="grid">
  <div class="toolbar">
    <app-toolbar></app-toolbar>
  </div>
  <div class="map">
    <app-map></app-map>
  </div>
  <div class="sidebar">
    <app-sidebar></app-sidebar>
  </div>
  <div class="console">
    <app-console></app-console>
  </div>

</div>
