
.console{
  grid-area: console;
  background: lightcoral;
}

.map{
  grid-area: map;
}

.sidebar{
  grid-area: sidebar;
  background: lightgreen;
}

.grid{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 0.3fr 8fr 3fr;
  grid-template-areas:
    'toolbar sidebar'
    'map sidebar'
    'console sidebar';
  grid-gap: 5px;
  width: 100vw;
  height: 100wh;
}
