.map {
  width: 100%;
  height: 100%;
}

.grid-map{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 4fr 2fr;
  grid-template-areas:
    'map sidebar'
    'console sidebar';
  grid-gap: 10px;
  width: 100vw;
  height: 100wh;
}
